
.main {
    height: auto;
}


/* about page */

img {
    width: 100%;
    height: auto;
}


.header {
    position:relative;
    top: 4.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 50px;
    padding-bottom: 80px;
    
}
.header-text {
    display: block;
    position: relative; 
    bottom:8em;
    

}
.header-text h2 {
   
    text-align: center;
    position: relative;    
    font-size: 2em;
    font-family: 'Muli';
    color: rgb(29, 28, 28);
}

.header-text p {
    position: relative;
    color: black;  
    text-align: center;
    font-size: 1.5em;
    
}
.header-image img {
    width: 100%; 
    height: 80%; 
}
.main-content {
    width: 100%;
    display:block;
    position: relative;
}

.content1, .content2, .content3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
   
    
}

.content2 .text-column {
    padding-top: 3em;
}
.content3 .text-column {
    padding-top: 5em;
}

 .text-column h3, strong {
    font-size: 2em;
    font-family: 'Newsreader', serif;
    text-align: center;
    line-height: 1.3em;
    
}
 .text-column p {
    padding: 0 1.2em;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: lighter; 
    margin: 10px 0;
}
.column1 {
    flex:1 2 45%; 
    padding: 0.5em; 
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;

}
.testimonials {
    width: 100%;
    margin: 2em auto;
   
    
}

span h1 {
    width: 70%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Muli';
    text-align: center;
    padding: 1em;
    margin: 2em auto;
}

span h4 {
    line-break: normal;
    text-align: center;
    color: chocolate;
}






