/* FOOTER*/
@media (min-width: 600px) {
    .contact, .about, .help, .costumer-service {
        width: 50%
    }

}
@media (min-width: 1080px) {
    .contact, .about, .help, .costumer-service {
        width: 25%;
    }
}

/*NAVIGATION */
@media (max-width: 715px) {
    .navigation.active {
        width: 100vw;
        left: 0;
        background-color: #4e534e;
        
    }
    
}

@media (min-width: 360px) {
    .main-navigation {
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        padding: 5px 20px;
    }
}
@media (max-width: 550px) {
    .main-navigation {
        display: none;
    }
}
@media (min-width: 900px) {
    .main-navigation {
        justify-content: space-between;
        padding: 5px 250px;

    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

/* HOME-*/

@media (max-width: 715px) {

    .content-wrap {
        padding-bottom: 1rem;
    
    }
    .bottom-slideshow {
        display: block;
        width: 95%;
        margin-top: 1em;
        right: 0;
        clear: both;
    }

    .timetable {
        display: block;
        width: 100%;
        top: 0;
        left: 0;   
        clear: both;    
    }
    .timetable h3 {
        font-size: 20px;
    }
    .button {
        
        margin-left: -2.5em;
    }


}

/* about page*/
@media (max-width: 1200px) {
    .column1 {
        width: 90%;
        flex: 4;
    }

    
}


@media (max-width: 375px) {
    .header-text h2 {
        font-size: 10px;
        padding-top: 3em;
    }
    .header-text p {
        display: none;
    }
}
@media (max-width: 630px) {
    .header-text h2 {
        padding-top: 1.5em;
    }
}